
form{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 220px;
	height: 150px;
	text-align: center;
	padding: 10px;
	background-color: #ff9040;

}

input[name="enviar"]{

	margin-top: 5px;
}

label{

	user-select: none;
}
