form{

	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: flex-start;
	padding: 20px;
	margin-top: 5%;
	border: 1px solid #050545;
	background-color: #eee;
}
div{

	margin-top: 10px;	
}
.boton{

	background-color: #3030ee;
	color: #fff;
	border-radius: 10px;
	width: 100px;
	margin-left: 100%;

}
